<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">
        .highcharts-figure, .highcharts-data-table table {
            min-width: 320px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }
        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }
        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }
        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }
        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }
        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }


        input[type="number"] {
            min-width: 50px;
        }
    </style>
    <meta charset="ISO-8859-1">
    <title>Graph</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://code.highcharts.com/css/highcharts.css" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>
<body>
<div align="center">
    <h2>GRAPH</h2>
</div>
<figure class="highcharts-figure">
    <div id="container-bar"></div>
</figure>

<script type="text/javascript">
    $(document).ready(
        function() {
            $.ajax({
                url : "deathGraph",
                success : function(result) {
                    var country = [];
                    var death = [];
                    console.log("result: "+result);
                    Object.keys(result).forEach(
                        function(key) {
                            country.push(key);
                            death.push(result[key]);
                        });

                    // var series = [];
                    // var data = result;
                    // console.log(result.country+""+result.death);
                    // for(var i = 0; i < result.length; i++){
                    //    var object = {};
                    //    object.country = result[i].country;
                    //    object.death = result[i].death;
                    //    console.log(object.country+" "+object.death);
                    //    data.push(object);
                    // }
                    // var chardata = [];
                    // var i = 0;
                    // Object.keys(result).forEach(function (key) {
                    //     chardata[i++]={country: key, death: result[key]};
                    // });
                    // console.log(chardata);
                    // series: chardata,
                    // series [{
                    //     name: 'Contry',
                    //     colorByPoint: true,
                    //     data: chardata
                    // }]
                    // series.push(seriesobject);
                    drawChart(country,death);
                }
            }
            );

        });

    function drawChart(country,death) {
        Highcharts.chart('container-bar', {
            chart : {
                type : 'line',
                styledMode : true
            },
            title : {
                text : 'Country - Death data'
            },
            xAxis : [ {
                title : {
                    text : 'Country'
                },
                categories : country
            } ],
            tooltip: {
                formatter : function () {
                    return '<strong>'+this.x+': </strong>'+this.y;
                }
            },
            yAxis : [ {
                className : 'highcharts-color-0',
                title : {
                    text : 'Death data'
                }
            } ],
            series : [ {
                data : death
            } ]
        });
        //     Highcharts.chart('container-bar', {
        //         chart: {
        //             plotBackgroundColor: null,
        //             plotBorderWidth: null,
        //             plotShadow: false,
        //             type: 'pie'
        //         },
        //         title: {
        //             text: 'Country - Death'
        //         },
        //         tooltip: {
        //             pointFormat: '{series.country}: <b>{point.death}</b>'
        //         },
        //         accessibility: {
        //             point: {
        //                 valueSuffix: '%'
        //             }
        //         },
        //         plotOptions: {
        //             pie: {
        //                 allowPointSelect: true,
        //                 cursor: 'pointer',
        //                 dataLabels: {
        //                     enabled: true,
        //                     format: '<b>{point.country}</b>: {point.death} '
        //                 }
        //             }
        //         },
        //         series: [{
        //             name: 'Contry',
        //             data: chardata,
        //             colorByPoint: true,
        //         }]
        //     });
    }
    </script>
<figure class="highcharts-figure">
    <div id="container-bar2"></div>
</figure>
    <script type="text/javascript">
    $(document).ready(
    function() {
    $.ajax({
        url : "recoveryGraph",
        success : function(result) {
            var country = [];
            var recovery = [];
            console.log("result: "+result);
            Object.keys(result).forEach(
                function(key) {
                    country.push(key);
                    recovery.push(result[key]);
                });
            drawChart2(country,recovery);
        }
    });
    });
    function drawChart2(country,recovery) {
        Highcharts.chart('container-bar2', {
            chart: {
                type: 'line',
                styledMode: true
            },
            title: {
                text: 'Country - Recovery data'
            },
            xAxis: [{
                title: {
                    text: 'Country'
                },
                categories: country
            }],
            tooltip: {
                formatter: function () {
                    return '<strong>' + this.x + ': </strong>' + this.y;
                }
            },
            yAxis: [{
                className: 'highcharts-color-0',
                title: {
                    text: 'Recovery data'
                }
            }],
            series: [{
                data: recovery
            }]
        });
    }

</script>
<figure class="highcharts-figure">
    <div id="container-bar3"></div>
</figure>
<script type="text/javascript">
    $(document).ready(
        function() {
            $.ajax({
                url : "confirmGraph",
                success : function(result) {
                    var country = [];
                    var confirm = [];
                    console.log("result: "+result);
                    Object.keys(result).forEach(
                        function(key) {
                            country.push(key);
                            confirm.push(result[key]);
                        });
                    drawChart3(country,confirm);
                }
            });
        });
    function drawChart3(country,confirm) {
        Highcharts.chart('container-bar3', {
            chart: {
                type: 'line',
                styledMode: true
            },
            title: {
                text: 'Country - Confirm data'
            },
            xAxis: [{
                title: {
                    text: 'Country'
                },
                categories: country
            }],
            tooltip: {
                formatter: function () {
                    return '<strong>' + this.x + ': </strong>' + this.y;
                }
            },
            yAxis: [{
                className: 'highcharts-color-0',
                title: {
                    text: 'Confirm data'
                }
            }],
            series: [{
                data: confirm
            }]
        });
    }

</script>
</body>
</html>
